<!DOCTYPE html>
<html>
	<head>
		<title>CDPF</title>
		<style>
			@import url(style.css);
		</style>
		<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.min.js"></script>
        <script src="lib/jquery.lazyload.min.js"></script>
        <script src="lib/jquery.autosize.min.js"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-darkness/jquery-ui.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<script>
			$('body').on('click','button.delete',function(e){
				var answer = confirm("Are you sure you want to delete this photo?");
				if (answer) {
					var form = $('#delete').css('display','block');
					form.find('input:hidden').val($(this).attr('data-image'));
					form.submit();
				}
			});

            $('body').on('click','button.rotate',function(e){
                var button = $(this);
                var dir = button.attr('data-dir');
                var name = button.attr('data-image');
                $.ajax({
                    data: { rotate: 1,
                        dir: dir,
                        name: name },
                    url: '?',
                    success: function(data) {
                        var img = button.closest('.row').find('img.thumbnail');
                        var url = img.attr('src');
                        img.attr('src',url+'&P'+Math.round(Math.random()*1000000)+'=1');
                    }
                })
            });

            function endEdit(row,save) {
                if (save===true) {
                    var edit = row.find('button.edit');
                    var textarea = row.find('textarea.caption');
                    var newCaption = textarea.length ? textarea.val() : edit.attr('data-pending');
                    var captionDiv = row.find('div.caption');
                    var image = edit.attr('data-image');
                    captionDiv.effect( "pulsate", {times:10}, 10000, function(){
                        edit.removeAttr('data-pending');
                        var answer = confirm('Error saving caption, try again?');
                        if (answer) {
                            endEdit(row,true);
                        }
                    });
                    edit.attr('data-pending',newCaption);
                    $.ajax({
                        url: '?',
                        data: { save: "1", caption: newCaption, image: image },
                        success: function(data) {
                            edit.removeAttr('data-pending');
                            captionDiv.finish().fadeOut().text(data).fadeIn().effect("highlight");
                            edit.attr('data-caption',newCaption);
                        },
                        error: function() {
                            edit.removeAttr('data-pending');
                            captionDiv.finish();
                            var answer = confirm('Error saving caption, try again?');
                            if (answer) {
                                endEdit(row,true);
                            }
                        }
                    });
                }
                $('#cover').css('display','none');
                row.find('textarea.caption').remove();
                row.find('.controls').remove();
                return false;
            }

            function startEdit(row) {
                row.find('.container').css('z-index','auto');
                var div = row.find('div.caption');
                div.closest('.container').css('z-index',10500);
                var textarea = $('<textarea class="caption">').css({
                    'font-family': div.css('font-family'),
                    'font-style': div.css('font-style'),
                    'font-size': div.css('font-size'),
                    'text-align': div.css('text-align'),
                    'height':22
                }).insertAfter(div).autosize().val(row.find('button.edit').attr('data-caption')).trigger('autosize.resize');
                $('<div class="controls"><button class="cancel">Cancel</button> <button class="save">Save</button></div>')
                .insertAfter(textarea);
                textarea.trigger('focus');
                $('#cover').css('display','block');
                return false;
            }

            $('body').on('click','button.edit, div.caption',function(e){
                var row = $(this).closest('.row');
                if (row.find('button.edit').attr('data-pending')) {
                    alert('Save pending, try again later.');
                    return false;
                }
                return startEdit(row);
            });

            $('body').on('click','button.cancel',function(e){
                return endEdit($(this).closest('.row'),false);
            });

            $('body').on('click','button.save',function(e){
                return endEdit($(this).closest('.row'),true);
            });

            function initAlbum(album) {
            }

            $(document).on('click','.albumButton',function(){
                $('.albumButton.selected').removeClass('selected');
                var album = $(this).addClass('selected').attr('data-album-num');
                $('#album'+album).show().siblings().hide();
                $('input[name=the-album]').val(album);
                localStorage.selectedAlbum = album;
                return false;
            });

			$(function(){
				if (localStorage!==undefined) {
					if (localStorage.selectedAlbum!==undefined) {
						var albumButton = $('.albumButton[data-album-num='+localStorage.selectedAlbum.replace(/\D/g,'')+']');
						albumButton.click();
					}
				} else {
					localStorage = { selectedAlbum: {{ albumSelected }} };
				}
			});

        </script>
	
        <div class='title'>{{ title|e }}</div>

        <div id='upload'>
            <div class='subtitle'>{{ message|e }}</div>
            <form method="post" enctype="multipart/form-data">
                <div>
                    <div class='section'>
                        Upload: <input type='file' name='the-file' value="Choose Photo"/>
                        <input type='hidden' name='the-album' value="{{ albumSelected }}"/>
                    </div>
                </div>
                <div>
                    <div class='section'>
                        <input type='submit' name='submit' value='Upload'/>
                    </div>
                </div>
            </form>
        </div>

        <div class='albums'>
            {% for i in range( 1 , albumCount ) %}
            <div class="albumButton {% if albumSelected == i %}selected{% endif %}" data-album-num="{{ i }}" >{{ i }}</div>
            {% endfor %}
        </div>

        <div id='photos'>
        {% for i in range(1,albumCount) %}
            <div class='album' id="album{{  i  }}" {% if albumSelected != i %}style='display: none;'{% endif %} >
                <div class='subtitle'>Album {{  i  }}</div>

                {% for item in images[i] %}
                    <div>
                        <div class="row">
                            <div class='name'>
                                {{ item.name|e }}
                                <button class="delete" data-image="{{ i }}/{{ item.name|e('html_attr') }}">Delete</button>
                                <button class="rotate" data-dir="left" data-image="{{ i }}/{{ item.name|e('html_attr') }}">&#x21BA;</button>
                                <button class="rotate" data-dir="right" data-image="{{ i }}/{{ item.name|e('html_attr') }}">&#x21BB;</button>
                                <button class="edit" data-image="{{ i }}/{{ item.name|e('html_attr') }}" data-caption="{{ item.caption }}">Edit Caption</button>
                            </div>
                            <div class='image'>
                                <div class='container'>
                                    {% if loop.index<5 %}
                                        <img class='thumbnail' src='thumb.php?name={{ i }}/{{ item.name|e('html_attr') }}' width="{{ thumbWidth }}" height="{{ thumbHeight }}"/>
                                    {% else %}
                                        <img class='thumbnail lazy' src='placeholder.png' data-original='thumb.php?name={{ i }}/{{ item.name|e('html_attr') }}' width="{{ thumbWidth }}" height="{{ thumbHeight }}"/>
                                    {% endif %}
                                    <div class='caption'>{{ item.caption }}</div>
                                </div>
                            </div>
                            <div class='info'>{{ item.size[0] }} x {{ item.size[1] }}</div>
                        </div>
                    </div>
                {% else %}
                    <div class='message'>No photos to display</div>
                {% endfor %}
            </div>
		{% endfor %}
        </div>

		<div id='footer'>
			<form id='logout' method='post'>
				<input type='submit' name='logout' value='Logout'/>
			</form>
		</div>

		<div style='display:none;'>
			<form id='delete' method='post'>
				<input type='hidden' name='delete-image' value=''/>
			</form>
		</div>
        <div id="cover"></div>
	</body>
	<script>
        $('.lazy').lazyload({effect : "fadeIn"})
	</script>
</html>
